

body {
  background-color: rgb(3, 49, 109)!important;
}

.login {
  margin-top: 10%;
  width: 25%!important;
  height: 50%!important;
  min-height: 500px!important;
  min-width: 300px!important;
  background-color: rgb(12, 114, 209);
  border-radius: 20px;
  border: 8px double white;
}

.login .login-header .btn-group {
  margin: 10px 0;
  padding: 5px 0;
  width: 100%!important;
}

.login .login-header .btn-group button {
  width: 50%;
  background: transparent;
}

.login .login-header .btn-group .header-button1 {
  border: none;
  border-right: 1px solid  white;
  border-bottom: 2px solid  white;
}

.login .login-header .btn-group .header-button2 {
  border: none;
  border-left: 1px solid  white;
  border-bottom: 2px solid  white;
}

.login .login-body {
  padding: 50px 20px;
}

.login .login-body #loginButton {
  width: 100%;
}
